.button ***REMOVED***
  background: $blue;
  border: none;
  color: white;
  display: inline-block;
  font-size: $font-size-large;
  font-weight: 300;
  line-height: 1;
  margin: 10px;
  padding: 10px;
  text-decoration: none;
***REMOVED***

.adminButton ***REMOVED***
  background-color: red;
  color: white;
  font-size: $font-size-large;
  font-weight: 300;
  line-height: 1;
  margin: 10px;
  padding: 10px;
  text-decoration: none;
***REMOVED***
.button--link ***REMOVED***
  background: none;
***REMOVED***

.button--secondary ***REMOVED***
  background: #888;
***REMOVED***

#save_button ***REMOVED***
  background: $blue;
  border: none;
  color: white;
  display: inline-block;
  font-size: $font-size-large;
  font-weight: 300;
  line-height: 1;
  padding: $s-size;
  text-decoration: none;
***REMOVED***

#save_button::after ***REMOVED***
  content: "Save";
***REMOVED***