.header ***REMOVED***
  background: $dark-blue;
***REMOVED***

.header__content ***REMOVED***
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: $s-size 0;
***REMOVED***

.header__title ***REMOVED***
  color: white;
  text-decoration: none;
  h1 ***REMOVED***
    margin: 0;
  ***REMOVED***
***REMOVED***
