.text-input ***REMOVED***
  border: 1px solid #cacccd;
  height: 50px;
  font-size: $font-size-large;
  font-weight: 300;
  padding: $s-size;
***REMOVED***

.select ***REMOVED***
  @extend .text-input;
***REMOVED***

.textarea ***REMOVED***
  @extend .text-input;
  height: 10rem;
***REMOVED***
