.list-header ***REMOVED***
  background: $off-white;
  border: 1px solid darken($off-white, 7%);
  color: $grey;
  display: flex;
  justify-content: space-between;
  padding: $s-size $m-size;
***REMOVED***

.list-body ***REMOVED***
  margin-bottom: $m-size;
  @media (min-width: $desktop-breakpoint) ***REMOVED***
    margin-bottom: $l-size;
  ***REMOVED***
***REMOVED***

.list-item ***REMOVED***
  border: 1px solid darken($off-white, 7%);
  border-top: none;
  color: $dark-grey;
  display: flex;
  flex-direction: column;
  padding: $s-size;
  text-decoration: none;
  transition: background .3s ease;
  &:hover ***REMOVED***
    background: $off-white;
  ***REMOVED***
  @media (min-width: $desktop-breakpoint) ***REMOVED***
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: $m-size;
  ***REMOVED***
***REMOVED***

.list-item--message ***REMOVED***
  align-items: center;
  color: $grey;
  justify-content: center;
  padding: $m-size;
  &:hover ***REMOVED***
    background: none;
  ***REMOVED***
***REMOVED***

.list-item__title ***REMOVED***
  margin: 0;
  word-break: break-all;
***REMOVED***

.list-item__sub-title ***REMOVED***
  color: $grey;
  font-size: $font-size-small;
***REMOVED***

.list-item__data ***REMOVED***
  margin: $s-size 0 0 0;
  @media (min-width: $desktop-breakpoint) ***REMOVED***
    margin: 0;
    padding-left: $s-size;
  ***REMOVED***
***REMOVED***
