* ***REMOVED***
  box-sizing: border-box;
***REMOVED***

html ***REMOVED***
  font-size: 62.5%;
***REMOVED***

body ***REMOVED***
  color: $dark-grey;
  font-family: Helvetica, Arial, sans-serif;
  font-size: $m-size;
  line-height: 1.6;
***REMOVED***

button ***REMOVED***
  cursor: pointer;
***REMOVED***

button:disabled ***REMOVED***
  cursor: default;
***REMOVED***

.is-active ***REMOVED***
  font-weight: bold;
***REMOVED***
