.form ***REMOVED***
  display: flex;
  flex-direction: column;
  >* ***REMOVED***
    margin-bottom: $m-size;
  ***REMOVED***
***REMOVED***

.form__error ***REMOVED***
  margin: 0 0 $m-size 0;
  font-style: italic;
***REMOVED***
