.App ***REMOVED***
  text-align: center;
***REMOVED***

.App-logo ***REMOVED***
  height: 40vmin;
***REMOVED***

.App-header ***REMOVED***
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
***REMOVED***

.App-link ***REMOVED***
  color: #09d3ac;
***REMOVED***
